<div class="root_view">
  <h1><%= @workout.title %></h1>

  <div>
    <%= link_to "Edit", edit_workout_path(@workout) %>
    <%= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?"} %>
  </div>


  <p>Sets</p>
  <%= render @workout.exercises %>

  <h1>Add an Exercise:</h1>
  <%= render 'exercises/form' %>
</div>