<div class="user-form">
  <%= form_for @user do |f| %>
    <div class="form-section">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "Enter first name" %>
    </div>
    </br>
    <div class="form-section">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Enter last name" %>
    </div>
    </br>
    <div class="form-section">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
      <small class="form-text text-muted">
          We'll never share your email with anyone else.
      </small>
    </div>
    </br>
    <div class="form-section">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
    </div>
    </br>
    <div class="form-section">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
    </div>
    </br>
    <div class="form-section">
      <%= f.submit 'Submit', class: "btn" %>
    </div>
  <% end %>
</div>